# System files
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml

# Temporary cache and build files
dist/
build/
*.log
*.tmp
*.bak

# Node.js dependencies
node_modules/

# npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*.local

# VS Code settings
.vscode/