html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    display: block;
}

html, body, canvas {
    font-family: 'VT323', monospace;
}

@keyframes flash {
    0% { opacity: 1; }
    25% { opacity: 0.8; }
    50% { opacity: 0.6; }
    75% { opacity: 0.4; }
    100% { opacity: 0; }
}