html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    display: block;
}

html, body, canvas {
    font-family: 'VT323', monospace;
}

@keyframes flash {
    0% { opacity: 1; }
    25% { opacity: 0.8; }
    50% { opacity: 0.6; }
    75% { opacity: 0.4; }
    100% { opacity: 0; }
}

/* Timer warning (últimos 5 segundos) */
#hud-timer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 17px;
    z-index: 1000;
    background-color: #eee;
    display: none;
}
#hud-timer.almost {
    transition: background-color 0.2s;
}
#hud-timer.almost::-webkit-progress-bar {
    background-color: #222 !important;
}
#hud-timer.almost::-webkit-progress-value {
    background-color: #ff2222 !important;
}
#hud-timer.almost::-moz-progress-bar {
    background-color: #ff2222 !important;
}