:root {
    --timer-height: 17px;
    --timer-bg: #eee;
    --timer-almost-bg: #ff2222;
    --font-family: 'VT323', monospace;
}

html, body, canvas {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    display: block;
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.6;
    }
    75% {
        opacity: 0.4;
    }
    100% {
        opacity: 0;
    }
}

#hud-timer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: var(--timer-height);
    z-index: 1000;
    background-color: var(--timer-bg);
    display: none;
}

#hud-timer.almost {
    transition: background-color 0.2s;
}

#hud-timer.almost::-webkit-progress-bar {
    background-color: #222 !important;
}

#hud-timer.almost::-webkit-progress-value,
#hud-timer.almost::-moz-progress-bar {
    background-color: var(--timer-almost-bg) !important;
}